<form [formGroup]="urlFormGroup" (ngSubmit)="onSubmit()">
    <section class="contents-container">
        <label [ngStyle]="(urlFormGroup.controls['longUrl'].errors && submitted) ? {'visibility': 'visible'} : {'visibility': 'hidden'}"
            class="error error-msg">{{InvalidUrlError}}</label>       
        <input autofocus [ngClass]="{'error-border': urlFormGroup.invalid && submitted}" formControlName="longUrl"
            [placeholder]="longURLPlaceHolder" (keyup.enter)="onSubmit()">
        <input disabled [placeholder]="shortURLPlaceHolder">
        <button>{{submitBtnText}}</button>
    </section>

</form>