/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}

input,
button,
p {
    border-radius: 10px;
    outline: none;
    font-size: 28px;
    box-sizing: border-box;
    margin: 4px;
    padding: 16px 20px;
}

input,
button {
    border: 1px solid #5f6368;
}

.error {
    color: #ff8080;
}

.error-border {
    box-shadow: 0 0 0 4px #ff8080 !important;
}

.error-msg {
    padding: 0px 0px;
    margin: 0px;
    font-size: 20px
}

input:focus,
button:focus {
    box-shadow: 0 0 0 4px #80bdff;
}

button {
    background-color: #50C878;
    color: white;
}

input {
    color: #495057;
    background-color: #f9f9f9;
}

.card {
    border: 3px #e8e9eb solid;
    border-radius: 16px;
    padding: 30px 40px 30px 40px;
    background: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px;
}

.title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 80px;
    background-color: #50C878;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media (max-width: 665px) {
    .card {
        border: none;
        border-radius: 0px;
        padding: 0px;
        background: #f5f5f5;
        box-shadow: none;
    }

    .title{
        font-size: 60px;
    }
}